<h2> chat</h2>
<hr>
<div class="app-mensajes" id="app-mensajes">
    <div [ngClass]="{'text-right':(chat.uid ==usuario.uid)}" *ngFor="let chat of chats">
        <span class="badge " [ngClass]="{'badge-primary':chat.uid !=usuario.uid,'badge-success':chat.uid ==usuario.uid}"> {{chat.nombre}}</span>
        <p>{{chat.mensaje}}</p>
    </div>
    <!--   <div class="text-right">
        <span class="badge badge-primary"> luis</span>
        <p>mensaje del chat</p>
    </div>
    <div class="">
        <span class="badge badge-success"> maria</span>
        <p>mensaje del chat</p>
    </div> -->
</div>
<input type="text" name="mendaje" class="form-control" [(ngModel)]="mensaje" placeholder="enviar mensaje" (keyup.enter)="enviar_mensaje()">
